<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       Aghara Mitul
    </title>
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font Awesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fas fa-code me-2"></i>AgharaMitul</a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active p-2">
                        <a href="/home" class="text-decoration-none text-light"><i class="fas fa-home me-1 p-1"></i>Home</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="#" class="text-decoration-none text-light"><i
                                class="fas fa-user-plus me-1 p-1"></i>Contact</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="/register" class="text-decoration-none text-light"><i
                                class="fas fa-globe me-1 p-1"></i>Register</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="/login" class="text-decoration-none text-light"><i
                                class="fas fa-envelope me-1 p-1"></i>Login</a>
                    </li>
                </ul>
            </div>
 </div>
    </nav>

    <!-- Add Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html